
        body {
	    border: 2px solid black;
            background-color:lightgrey;
            display: grid;
	    place-items: center;
            min-height: 100vh;
            margin: 400px;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: brown;
            text-align: center;
        }
  
	.button {
	background-color: red;
	}
	